/* ######## */
/* #General# */
/* ######## */

body {
  margin: auto;
  width: 100%;
  height: 100vh;
  font-family: "Carrois Gothic", sarif;
  /* background-color: #d6dbe3; */
  background-color: rgb(241, 241, 241);
}

main {
  margin: auto;
  padding-top: 30px;
  width: 70%;
}

ul {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 500px) {
  main {
    width: 85%;
    margin: auto;
  }

  ul {
    justify-content: space-evenly;
    margin-top: 30px;
  }
}

@media only screen and (max-height: 900px) {
  main {
    height: 100%;
  }
}

/* ######## */
/* #NavBar# */
/* ######## */

header {
  border-bottom: solid black 2px;
  transition: 900ms, ease-in-out;
  transition-duration: 900ms;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 70%;
  margin: auto;
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-mobile {
  margin-top: 5px;
}

.nav-li-mobile {
  margin-left: 20px;
}

.menu-btn-img {
  height: 20px;
}

.mobile-img {
  height: 40px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mobile-img:checked {
  transform: scale(1.5);
}

.mobile-page-tab {
  display: flex;
  justify-content: space-around;
  font-weight: 900;
  font-size: larger;
  /* border-bottom: solid black 1px; */
}

mobileNav {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 50px 20px 50px;
  border-top: solid black 2px;
}

.link-btn {
  margin: 20px 0px 30px 0px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-style: none;
  background-color: #b2c0c7;
}

@media only screen and (max-width: 500px) {
  .navbar {
    width: 90%;
    align-items: center;
  }
  .nav-desktop {
    display: none;
  }
}

@media only screen and (min-width: 501px) {
  .nav-mobile {
    display: none;
  }
  .mobile-nav-menu {
    display: none;
  }
}

.logo {
  height: 43px;
}

.nav-li {
  padding-left: 25px;
  font-weight: 900;
  margin: 0px;
  margin: 0px;
  font-weight: 900;
  cursor: pointer;
}

.active-link {
  color: dodgerblue;
}

.active-link-mobile {
  color: dodgerblue;
  text-decoration: underline;
}

.navbar-link:hover {
  /* color: dodgerblue; */
  text-decoration-line: underline;
}

/* ##Dropdown## */

.dropdown {
  position: absolute;
  background-color: #666;
  width: 150px;
  padding-left: 20px;
  border-radius: 1rem;
  display: inline-block;
  margin-top: 5px;
}

.dropdown-list {
  display: inline-block;
}

.dropdown-list-item {
  margin: 10px 0px;
  color: white;
}

.dropdown-list-item:hover {
  scale: 1.1;
}
/* .dropdown-link:hover {
  color: dodgerblue;
} */

.dropdown-link {
  color: white;
}
/* ##Toggle## */

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;

  bottom: 2px;
  background-color: #d8d7d7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d8d7d7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: white;
}

/* ######## */
/* #Footer# */
/* ######## */

footer {
  width: 70%;
  margin: auto;
  background-color: transparent;
  display: flex;
  padding: 30px 0px;
}

.footer-li {
  padding-right: 20px;
}
.footer-li:hover {
  scale: 1.1;
}

.footer-img {
  height: 15px;
  margin-right: 7px;
}

.active-footer-link {
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  footer {
    display: none;
  }
}

/* ######## */
/* #Home Page# */
/* ######## */

#home-page {
  display: flex;
  padding-bottom: 20px;
}

.color-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.color-box {
  border-radius: 10px 100px / 120px;
  background-color: dodgerblue;
  height: 30vh;
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.color-box:hover {
  cursor: pointer;
  scale: 1.1;
}

.computer-img {
  height: 25vh;
}

.about-txt {
  flex: 3;
}

.featured-scroll {
  flex: 2;
}

.featured-img-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  display: flex;
  margin: 30px 0px;
  border-radius: 1rem;
  height: 30vh;
}

.featured-img {
  height: 100%;
  border-radius: 1rem;
  position: relative;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  text-align: center;
  font-size: x-large;
  color: white;
  cursor: default;
  opacity: 0;
}

.project-info:hover {
  transition: opacity 0.8s;
  opacity: 1;
}

.tool-box-container {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
}

.tool-box {
  color: white;
  margin: 10px;
  padding: 2px 10px;
  background-color: dodgerblue;
  border-radius: 1rem;
  justify-content: center;
  font-size: small;
}

.project-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: auto;
}
.code-img-flex-container {
  display: flex;
  padding: 0px 30px;
}

.code-img {
  height: 20px;
  padding-top: 5px;
  margin-right: 3px;
}

.info-link:hover {
  scale: 1.1;
}

.info-link {
  color: white;
  font-size: medium;
}

.skill-title {
  /* margin-left: 50px; */
  /* color: #666; */
}

@media only screen and (max-width: 400px) {
  .featured-img-container {
    margin-top: 20px;
    height: 200px;
  }
  .featured-img {
    border-radius: 0px;
  }
  .project-info {
    font-size: xx-small;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 500px) {
  #home-page {
    display: block;
  }
  .skill-title {
    margin: auto;
  }

  .project-info {
    font-size: small;
    border-radius: 0px;
  }
  .color-box {
    width: 85%;
  }
  .computer-img {
    height: 20vh;
  }
  .featured-img-container {
    margin-top: 20px;
    border-radius: 0px;
    padding: 2px;
    background-color: #333;
    height: 200px;
  }
  .featured-img {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 1300px) {
  #home-page {
    display: block;
    margin: auto;
  }

  .tool-box-container {
    justify-content: space-around;
    width: 50%;
    padding-bottom: 20px;
  }
  .featured-img-container {
    border-radius: 0px;
  }
  .project-info {
    border-radius: 0px;
  }
  .about-txt {
    padding-right: 0px;
  }
}

/* ######## */
/* #Projects Page# */
/* ######## */

.project-container {
  padding-bottom: 20px;
}

.all-project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4%;
}

@media only screen and (max-width: 1300px) {
  .all-project {
    grid-template-columns: 1fr 1fr;
  }
  .project-info {
    font-size: x-small;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 1500px) {
  .all-project {
    display: block;
  }
  .featured-img-container {
    height: 30vh;
  }
}

@media only screen and (max-height: 500px) {
  .project-info {
    font-size: x-small;
    border-radius: 0px;
  }
  .featured-img-container {
    padding: 2px;
    background-color: #333;

    border-radius: 0px;
  }
}
@media only screen and (max-height: 1000px) {
  .featured-img-container {
    height: 300px;
  }
  .featured-img {
    height: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .skills {
    margin: 0px 50px;
  }
  .about-txt {
    margin-right: 70px;
  }
}
